<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://yourstore.vendhq.com" />
    <add key="Username" value="your_username" />
    <add key="Password" value="your_password" />
    <add key="product1" value="coffee"/>
    <add key="product2" value="tshirt"/>
  </appSettings>
</configuration>