<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://hardimans.vendhq.com" />
    <add key="Username" value="chip@pacific.net.au" />
    <add key="Password" value="livemusic" />
    <add key="product1" value="coffee"/>
    <add key="product2" value="tshirt"/>
  </appSettings>
</configuration>